:root {
    --page-width: 42rem;
    --font-size-head: 36px;
    --font-size-body: 20px;
    --font-size-name: 22px;
    --font-color-body: #333;
    --font-color-name: #C02F1D;
    --background-color: #fff;
    --byline-color: #888;
    --link-color: #00a;
}
