@use "reset";
@use "variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&display=swap');

body {
	//font-family: 'Play', 'Open Sans', monospace;
    font-family: 'IBM Plex Mono', monospace;
	background-color: var(--background-color);
    //background-color: rgb(34, 34, 34);
    //color: rgb(255, 255, 255);
}

.content {
	padding: 2rem;
	max-width: var(--page-width);
	margin: 0; // auto;
}

h1 {
	padding-bottom: 1.2rem;
    font-size: 2.1em;
    //font-weight: bold;
    letter-spacing: -1px;
}

h2 {
	padding-bottom: 1rem;
	//font-size: 1rem;
	font-size: .875rem;
    //font-weight: bold;
    color: var(--header-color);
}
h2:before {
   content: "# ";
}

p,
ul {
	//font-size: 1rem;
    font-size: .875rem;
    line-height: 1.25rem;
	margin-bottom: 1rem;
}

ul {
	padding-inline-start: 1rem;

	li {
		list-style: disc;
	}
}

.by {
	//font-size: 1rem;
	font-size: .875rem;
	color: var(--byline-color);
}

.footer {
	//font-size: 1rem;
	font-size: .875rem;
	padding: 2rem;
	padding-top: 0rem;
	max-width: var(--page-width);
    margin: 0; // auto;
}

blockquote {
	font-style: italic;
}

a:link,
a:visited {
	//color: black;
    color: #4078f2;
    text-decoration: underline;
    //text-decoration-color: gray;
    //text-underline-width: 1px;
    //text-underline-offset: 3px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
