@use "reset";
@use "variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
	font-family: 'Play', 'Open Sans', monospace;
	background-color: var(--background-color);
    //background-color: rgb(34, 34, 34);
    //color: rgb(255, 255, 255);
}

.content {
	padding: 1.5rem;
	max-width: var(--page-width);
	margin: 0; // auto;
}

h1 {
	padding-bottom: 1.2rem;
    font-size: 2.1em;
    //font-weight: bold;
}

h2 {
	padding-bottom: 1rem;
	font-size: 1rem;
    font-weight: bold;
}

p,
ul {
	font-size: 1rem;
	margin-bottom: 1rem;
    line-height: 1.25rem;
}

ul {
	padding-inline-start: 1rem;

	li {
		list-style: disc;
	}
}

.by {
	font-size: 1rem;
	color: var(--byline-color);
}

.footer {
	padding: 1.5rem;
	padding-top: 0rem;
	font-size: 1rem;
	max-width: var(--page-width);
    margin: 0; // auto;
}

blockquote {
	font-style: italic;
}

a:link,
a:visited {
	color: black;
    text-decoration: underline;
    //text-decoration-color: gray;
    text-underline-width: 1px;
    text-underline-offset: 3px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
