@use "reset";
@use "variables";

body {
	font-family: monospace, sans-serif;
	background-color: var(--background-color);
    //background-color: rgb(34, 34, 34);
    //color: rgb(255, 255, 255);
}

.content {
	padding: 1.5rem;
	max-width: var(--page-width);
	margin: 0; // auto;
}

h1 {
	padding-bottom: 1.2rem;
    font-size: 2em;
    font-weight: bold;
}

h2 {
	padding-bottom: 1rem;
    font-size: 1em;
    font-weight: bold;
}

p,
ul {
	font-size: 1rem;
	margin-bottom: 1rem;
}

ul {
	padding-inline-start: 1rem;

	li {
		list-style: disc;
	}
}

.by {
	font-size: 1rem;
	color: var(--byline-color);
}

.footer {
	padding: 1.5rem;
	padding-top: 0rem;
	font-size: 1rem;
	max-width: var(--page-width);
    margin: 0; // auto;
}

blockquote {
	font-style: italic;
}

a:link,
a:visited {
	color: blue;
    text-decoration: none;
    //color: rgb(97, 218, 251);
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
